<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CarLibrary" 
                          publicKeyToken="6cd5291d3a0c73ef" />
        <codeBase version="2.0.0.0" 
                  href="file:///E:/DoNet学习/精通C#(第6版)/Chapter14/MyAsms/CarLibrary.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>