<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 示例</title>
</head>

<body>
    <div id="app">
        <ul>
            <template v-for="book in books">
                <li>书名:{{book.name}}</li>
                <li>作者:{{book.author}}</li>
            </template>
        </ul>
        <ul>
            <li v-for="(value,key,index) in user">
                {{index}}-{{key}}:{{value}}
            </li>
        </ul>
        <span v-for="n in 10">{{n}}</span>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                books: [{
                        name: '<<Vue.js实战>>',
                        author: '梁X',
                    },
                    {
                        name: '<<JavaScript语言精粹>>',
                        author: 'Douglas Crockford'
                    },
                    {
                        name: '<<JavaScript高级程序设计>>',
                        author: 'Nicholas C.Zakas'
                    }
                ],
                user: {
                    name: 'Aresn',
                    gender: '男',
                    age: 26
                }
            },
        });
    </script>
</body>

</html>