<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- 哪个提供程序 -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!--<add key="provider" value="System.Data.OleDb"/>-->
    <!-- 哪个连接字符串 -->
    <!--<add key="cnStr" value="Data Source=127.0.0.1;Initial Catalog=AutoLot;Integrated Security=True;"/>-->
    <!--<add key="cnStr" value="Provider=SQLOLEDB;Data Source=127.0.0.1;Initial Catalog=AutoLot;Integrated Security=SSPI;"/>-->
  </appSettings>

  <!-- 这里是连接字符串 -->
  <connectionStrings>
    <add name="AutoLotSqlProvider"
         connectionString="Data Source=127.0.0.1;
         Initial Catalog=AutoLot;
         Integrated Security=True;"/>
    <add name="AutoLotOleProvider"
         connectionString="Provider=SQLOLEDB;
         Data Source=127.0.0.1;
         Initial Catalog=AutoLot;
         Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>