<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置accountService对象-->
    <bean id="accountService" class="com.wong.service.impl.AccountServiceImpl"></bean>
    <!--配置accountDao对象-->
    <bean id="accountDao" class="com.wong.dao.impl.AccountDaoImpl"></bean>
</beans>