<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置accountService对象-->
    <bean id="accountService" class="com.wong.service.impl.AccountServiceImpl"/>
    <!--配置accountService对象-->
    <bean id="accountService2" class="com.wong.service.impl.AccountServiceImpl2"/>
    <!--配置AccountService对象，采用类中静态方法的方式-->
    <bean id="accountService3" class="com.wong.factory.StaticFactory" factory-method="createAccountService"/>
    <!--配置AccountService对象，采用对象调用普通方法的方式-->
    <bean id="instanceFactory" class="com.wong.factory.InstanceFactory"/>
    <bean id="accountService4" factory-bean="instanceFactory" factory-method="createAccountService"/>
    <!--配置accountDao对象-->
    <bean id="accountDao" class="com.wong.dao.impl.AccountDaoImpl" init-method="init" destroy-method="destory"/>
</beans>